.inputLabelContainer{
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: 10px;
}

.inputLabelContainer > input,
.inputLabelContainer > select{
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
}

.inputLabelContainer > label{
    font-weight: 500;
    color: #fff;
}





