.postListContainer{
    width: 90%;
    margin: 0 auto;
    display: grid;
    gap: 3rem;
    padding: 1rem 1rem 4.5rem 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

@media screen and (max-width: 767px) {
    .postListContainer{
        width: 90%;
        margin: 0 auto;
        display: grid;
        gap: 1rem;
        padding: 1rem 1rem 4.5rem 1rem;
        grid-template-columns: 1fr;
    }
  
  }