.main {
    height: 100vh;
    margin: 0 0 0 15rem;
}

@media screen and (max-width: 1265px) {
    .main {
    margin: 0 0 0 5rem;

    }
}

@media screen and (max-width: 767px) {
    .main {
    margin: 0;
    }

}