html{
    background: linear-gradient(to right,#1e130c,#9a8478);
    color: #000;
    font-family: 'Poppins',system-ui, sans-serif;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
