.navbar {
  padding: 0;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul > li {
  list-style: none;
  display: flex;
  width: 90%;
  justify-content: center;
}

li > a {
  width: 100%;
  text-align: start;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  transition: all 0.1s;
  color: #fff;
}

.link:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

svg {
  font-size: 1.5rem;
}

.active {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.navbar-modal{

  height: 100%;
  background-color: rgb(101, 43, 43);

}

@media screen and (max-width: 1265px) {
  .link {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    width: 80%;
    height: 100%;
    padding: 0 0 0 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  ul > li {
    list-style: none;
    display: flex;
    width: 15%;
    justify-content: center;
  }

  .none {
    display: none;
  }

  svg {
    font-size: 1.8rem;
  }
}
