asgiref==3.7.2
channels==4.0.0
Django==4.2.5
django-cors-headers==4.2.0
djangorestframework==3.14.0
drf-extra-fields==3.7.0
filetype==1.2.0
mysqlclient==2.2.0
Pillow==10.0.1
python-dotenv==1.0.0
pytz==2023.3.post1
sqlparse==0.4.4
tzdata==2023.3
