.customNavlink,
.customNavlink:link,
.customNavlink:visited,
.customNavlink:hover,
.customNavlink:focus,
.customNavlink:active {

  color: inherit;
  text-decoration: none;

}

.cardInfo{
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.25);
    height: 350px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: .8rem;
    border-radius: 10px 10px 5px 5px;
    cursor: pointer;
    gap: 10px;
    
}

.lastPostCard:hover{
    transform: scale(1.010);
}

.cardImgContainer{
    width: 100%;
    height: 60%;
    background-color: #D9D9D9;
    text-align: center;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
}

.cardImg{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardDetails{
    width: 100%;
    height: 40%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardDescription{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
 
    gap: 1rem;
}


.cardDescription p {
    font-weight: bold;
    color: #E16A00;
    font-size: 1.3rem;
}

.cardDescription span{
    border: 2px solid #000;
    padding: 4px 6px;
    border-radius: 5px; 
    font-weight: bold;
    width: max-content;
}

@media screen and (max-width: 767px) {
  
    .cardDetails{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .cardDetails h3{
        font-size: 1rem;
        width: max-content;
        margin: 0 auto;
    }

    

    .lastPostCard:hover{
        transform: none;
    }

    .cardDescription{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        padding: 0;
        gap: 10px;
    }
    
  }
