.form-search{
    display: flex;
    flex: 3;
    justify-content: center;
    align-items: center;
}

.form-search > input[type="text"]{
    border: none;
    flex: 3;
    padding: 10px 5px;
    outline: none;
}

.form-search > input[type="submit"]{
    border: none;
    background-color: #000010;
    color: #fff;
    flex: 1;
    font-weight: 500;
    padding: 10px;
}

.form-search > input[type="submit"]:hover{
    cursor: pointer;
    background-color: #000030;
}

@media screen and (max-width: 767px) {
    .form-search{
        width: 100%;
       
    }
  
  }