
.suscriptionsContainer{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0;
}
.suscriptionsContainer h2{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    font-size: 1.8em;
    padding: 1rem;
    color: #fff;
}
.suscriptionsGrid{
    width: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    padding: 1rem;
}

.suscription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #524644;
    color: #f3f3f3;
    gap: 1rem;
    padding: 2rem 0;
    height: 400px;
    border-radius: 15px;
}

.suscriptionDetails{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.suscriptionDetails h3{
    font-size: 1.3rem;
    
}

.suscriptionDetails p{
    font-size: 2rem;
    font-weight:bolder;
}

.benefitsContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
}

.benefits{
    display: flex;
    gap: .5rem;
    align-items: center;
}


.benefits p{
    font-weight: 500;
    font-size: 1.5rem;
}

.suscriptionButton{
    background-color: #322528;
    color: #eee;
    width: 90%;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.3rem;
}

.suscriptionButton:hover{
    cursor: pointer;
    transform: scale(1.009);
}
