.flex-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    gap: 1rem;
}

.flex-container h2{
    width: 90%;
    padding: 0 1rem;
    color: #000;
    font-size: 2rem;
}

.lastPost-container{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}




@media screen and (max-width: 767px) {
    .lastPost-container{
        width: 100%;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit,minmax(150px, 1fr ));
    }
  }


