.authPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(to right, #1e130c, #9a8478);
}

.formContainer {
    background-color: #fff;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px 0 0 18px;
}

.form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.twoInputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.title {
    margin-bottom: 25px;
    font-size: 32px;
}

.link {
    font-size: 14px;
    color: #7c838a;
}

.backgroundDark {
    width: 35%;
    max-height: 100vh;
    position: relative;
}


a {
    text-decoration: none;
    color: #3a4a3f;
    font-weight: bold;
}

@media (max-width: 1366px) {
    .authPage {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    .formContainer {
        width: 100%;
    }

    .form {
        max-width: 500px;
        width: 90vw;
    }


    .twoInputs {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2rem;
    }


    .backgroundDark {
        display: none;
    }

}