.navbarLi {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .logoutButton{
    width: 100%;
    padding: .5rem 10px;
    justify-content: start;
    font-size: 1rem;
    transition: all .1s;
  } 
  
  .logoutButton{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
    width: 100%;
    background-color: transparent;
    border: none;
    border-radius: .5rem;
    padding: .6rem 10px;
    cursor: pointer;
    transition: all 0.2s;
  }

  .logoutButton:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }