.filters-container{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.filters-container > select {
    padding: 10px;
    border: none;
    display: flex;
    border-radius: 10px;
    font-weight: 600;
    background-color: #524644;
    color: #fff;
}

.filter:hover{
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .filters-container{
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;
        flex: 1;
    }
  
  }



