.selectDirection-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 90%;
}

.selectDirection-container h2{
    color: #fff;
}

.direction-container{
    background-color: #eee;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.direction-main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    color: #000;
}

.direction-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.direction-header p{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.direction-header span{
    font-size: 2rem;
    color: rgba(0, 0, 200, 1);
}

.direction-content p{
    font-weight: 500;
}

.direction-footer{
    padding: 1.5rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #eee;
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.link-editDirection{
    text-decoration: none;
    color: rgba(0, 0, 200, .7);
}

.link-editDirection:hover{
    color: rgba(0, 0, 200, 1);
}

