.selectPayment-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    justify-content: center;
    align-items: end;
}

.selectPayment-container h2{
    background-color: transparent;
}

.selectPayment-container h2{
    text-align: left;
    padding: 1rem;
    border-bottom: 1px solid #111;
}

.cardPay-container{
    background-color: #eee;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cardPayment-main{
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 1rem;
}

@media screen and (max-width: 1265px) {
    .cardPay-container{
        width: 100%;
    }
  }